.first {
  color: red;
}

.second {
  color: green;
}

.third {
  color: magenta;
}

.fourth {
  color: blue;
}

.fifth {
  color: chocolate;
}

.sixth {
  color: lightcoral;
}

.common {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.condition1 {
  color: burlywood;
}

.condition2 {
  color: gold;
}
