<div class="container">
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row form-wrapper">
      <h3>Signup</h3>
      <div class="col-xs-12">
        <input
          required
          type="text"
          name="first_name"
          #first_name="ngModel"
          placeholder="First Name"
          [(ngModel)]="user.first_name"
          class="formControl"
          [class.is-invalid]="first_name.invalid && first_name.touched"
        />
        <span
          class="invalid-feedback"
          *ngIf="first_name.invalid && first_name.touched"
        >
          First name is required
        </span>
      </div>

      <div class="col-xs-12">
        <input
          required
          type="text"
          name="last_name"
          #last_name="ngModel"
          placeholder="last Name"
          [(ngModel)]="user.last_name"
          class="formControl"
          [class.is-invalid]="last_name.invalid && last_name.touched"
        />
        <span
          class="invalid-feedback"
          *ngIf="last_name.invalid && last_name.touched"
        >
          Last name is required
        </span>
      </div>

      <div class="col-xs-12">
        <input
          required
          type="email"
          name="email"
          #email="ngModel"
          placeholder="Email"
          [(ngModel)]="user.email"
          class="formControl"
          [class.is-invalid]="email.invalid && email.touched"
        />
        <span
          class="invalid-feedback"
          *ngIf="last_name.invalid && last_name.touched"
        >
          Last name is required
        </span>
      </div>

      <div class="col-xs-12">
        <input
          required
          type="text"
          name="mobile"
          #mobile="ngModel"
          placeholder="Mobile"
          class="formControl"
          [(ngModel)]="user.mobile"
          [class.is-invalid]="mobile.invalid && mobile.touched"
        />
        <span class="invalid-feedback" *ngIf="mobile.invalid && mobile.touched">
          Mobile is required
        </span>
      </div>

      <div class="col-xs-12">
        <input
          required
          type="password"
          name="password"
          #password="ngModel"
          placeholder="Password"
          class="formControl"
          [(ngModel)]="user.password"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <span
          class="invalid-feedback"
          *ngIf="password.invalid && password.touched"
        >
          Password is required
        </span>
      </div>

      <div class="col-xs-12">
        <input
          required
          type="date"
          name="date_of_birth"
          #date_of_birth="ngModel"
          placeholder="Date of Birth"
          class="formControl date"
          [(ngModel)]="user.date_of_birth"
          [class.is-invalid]="date_of_birth.invalid && date_of_birth.touched"
        />
        <span
          class="invalid-feedback"
          *ngIf="date_of_birth.invalid && date_of_birth.touched"
        >
          Date of birth is required
        </span>
      </div>

      <div class="col-xs-12 mt-2 mb-2">
        Gender
        <input
          required
          type="radio"
          name="gender"
          #gender="ngModel"
          value="male"
          class="form-check-input"
          [(ngModel)]="user.gender"
          [class.is-invalid]="gender.invalid && gender.touched"
        />
        <label class="form-check-label" for="flexRadioDefault1"> Male </label>
        <input
          required
          type="radio"
          name="gender"
          #gender="ngModel"
          value="female"
          class="form-check-input"
          [(ngModel)]="user.gender"
          [class.is-invalid]="gender.invalid && gender.touched"
        />
        <label class="form-check-label" for="flexRadioDefault2"> Female </label>
      </div>
      <span class="invalid-feedback" *ngIf="gender.invalid && gender.touched">
        Gender is required
      </span>

      <div class="col-xs-12">
        <input
          type="submit"
          class="formControl submit"
          [disabled]="!signupForm.valid"
          placeholder="Signup"
        />
      </div>
    </div>
  </form>
</div>
